#### Task 1: Python program to Create a excel file

In [1]:
import xlsxwriter as xw

In [2]:
wb= xw.Workbook('Hello_world.xlsx')

In [3]:
ws=wb.add_worksheet()

In [4]:
ws.write('A1', 'Hello')
ws.write('B1', 'World')
ws.write('A2', 'I am')
ws.write('B2','Ankit')
ws.write('C2', 'enjoying')
ws.write('D2', 'data science intern')
ws .write('E2','at yoshops.com')

0

#### Task 2: Python program for Format data in excel sheet

In [5]:
tasks=(['Tasks','status'],['task 1','completed'],['task 2', 'completed'],['task 3', 'completed'],['task4', 'completed'],['task 5', 'completed'])

In [6]:
row=4
col=0

In [7]:
for tasks,status in tasks:
    ws.write(row, col, tasks)
    ws.write(row, col+1, status)
    row+=1

In [8]:
wb.close()

#### Task 3: Python program for Import data from an excel file

In [9]:
import pandas as pd

In [10]:
df=pd.read_excel('Hello_World.xlsx')
df

    Hello      World Unnamed: 2           Unnamed: 3      Unnamed: 4
0    I am      Ankit   enjoying  data science intern  at yoshops.com
1     NaN        NaN        NaN                  NaN             NaN
2     NaN        NaN        NaN                  NaN             NaN
3   Tasks     status        NaN                  NaN             NaN
4  task 1  completed        NaN                  NaN             NaN
5  task 2  completed        NaN                  NaN             NaN
6  task 3  completed        NaN                  NaN             NaN
7   task4  completed        NaN                  NaN             NaN
8  task 5  completed        NaN                  NaN             NaN